<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <title>AdminBuddy - Tu Dashboard</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body class="bg-light">
        <div class="dashboard-container">
            <header>
                <h1>Mi resumen financiero</h1>
            </header>

            <div class="stats-grid">
                <div class="card status-saldo">
                <h3>Saldo Actual</h3>
                <p class="amount">${{ resumen.saldo }}</p>
                </div>
                <div class="card status-ingreso">
                <h3>Ingresos</h3>
                <p class="amount text-success">+ ${{ resumen.ingresos}}</p>
                </div>
                <div class="card status-gasto">
                <h3>Gastos</h3>
                <p class="amount text-danger">- ${{ resumen.gastos}}</p>
                </div>
            </div>
            <div class="card historial-container">
                <h2>Historial de transacciones</h2>
                <table class="minimal-table">
                    <thead>
                        <tr>
                            <th>Fecha</th>
                            <th>Descripción</th>
                            <th>Categoría</th>
                            <th>Tipo</th>
                            <th>Monto</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for t in transacciones %}
                        <tr>
                            <td>{{ t.fecha.strftime('%d/%m/%Y') }}</td>
                            <td>{{ t.descripcion }}</td>
                            <td class="'{{ 'text-success' if t.tipo == 'Ingreso' else 'text-danger'}}">
                                {{ t.tipo }}
                            </td>
                            <td>${{ "{:,2.f}".format(t.monto) }}</td>
                        </tr>
                        {% else %}
                        <tr>
                            <td colspan="4">No hay movimientos registrados</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="actions">
            <button class="btn-primary" style="text-decoration: none;"><a href="/add_transaction" class="btn-primary" style="text-decoration: none; display: inline-block;">Nueva transaccion</a></button>
        </div>
    </body>
</html>