<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width", initial-scale="1.0">
        <title>AdminBuddy - Gestiona tus finanzas</title>
        <meta name="description" content="AdminBuddy te ayuda a gestionar tus finanzas personales de manera eficiente.">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    </head>
    <body>
        <div class="main-container">
            <div class="card">
                <h1>Bienvenido a AdminBuddy</h1>
                <p>Tu asistente personal para la gestión financiera.</p>
                <button class="btn-primary">¡Empieza ahora!</button>
            </div>
        </div>
    </body>
</html>